//doc settings
$full-height: 100vh;

//color set
$primary-color: hsl(200, 80%, 50%);
$secondary-color: darken($primary-color, 10%);

//font set
$main-font: Cabin,helvetica,arial,sans-serif;
$main-font-size:16px;
$header-font-size:26px;
$title-font: Lobster;

//header
$header-height: 50px;

$content-height: calc($fullheight - #{$header-height});
@mixin box(){
  box-sizing: border-box;
}

@mixin header-padding(){
  padding:10px 10px;
  @include box;
}

$footer-height: $header-height;
$footer-bg: $secondary-color;

$input-color: darken($secondary-color,10%);
$input-font-size: 20px;

@mixin flex(){
  display: flex;
}
@mixin row(){
  display: flex;
  flex-direction: row;
}
@mixin reset(){
  margin: 0;
  padding: 0;
}

@mixin fullheight(){
  height: 100vh;
}

@mixin button-svg(){
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border:solid transparent;
}



html,body{
  @include fullheight;
}
body{
  @include reset;
  font-family:$main-font;
  font-size: $main-font-size;
  overflow: hidden;
}
header{
  height: $header-height;
  background-color:$secondary-color;
  @include row;
  h1,h2,h3{
    @include reset;
    font-size:$header-font-size;
    color: white;
    font-family: $title-font;
    text-align: center;
    width:calc(100vw - 48px);
    @include header-padding;
  }
  .settings-button{
    width:48px;
    height:48px;
    background-size: 80%;
    @include button-svg;
    background-image:url('../images/fa-bars.svg');
  }
  .settings-button:focus{
    outline:none;
  }
  .settings-button.open{
    background-color:darken($primary-color,30%);
    .stripe{
      background-color:darken($primary-color,50%);
    }
  }
  .user-button{
    width:48px;
    height:48px;
    background-size: 80%;
    @include button-svg;
    background-image:url('../images/fa-user.svg');
  }
}

main{
  height: calc(100vh - (#{$header-height} * 2));
  overflow-x:hidden;
  overflow-y:auto;
  .settings-panel{
    position:absolute;
    left: -100vw;
    transition:left 1s;
    top:$header-height;
    z-index:999;
    background-color:white;
    width:80vw;
    box-shadow:5px 5px 8px rgba(0,0,0,0.5);
    min-height:calc(100vh - (#{$header-height}));
    #settings{
      max-width:80%;
      margin:0 auto;
    }
  }
  .settings-panel.open{
    top:$header-height;
    left:0;
  }
}

#task-list{
  @include reset;
  list-style:none;
  li{
    font-size:20px;
    padding-left:10px;
    border-bottom: 1px solid #ccc;
    color:darken($primary-color,40%);
  }
  li[data-status="1"]{
    background-color:lighten($primary-color,20%);
    text-decoration:line-through;
    color:darken($primary-color,40%);
    button[data-function="status"]{
      opacity:0.5;
    }
  }
  li{
    .task-row{
      display:flex;
      justify-content:space-between;
      .task-text {
        color: $input-color;
        word-wrap:break-word;
        max-width:70vw;
      }
      .buttons{
        width:100px;
        display:flex;
        opacity:0.7;
        button{
          width:50%;
          background-color:transparent;
          border:solid transparent;
          background-size:50%;
          background-repeat:no-repeat;
          background-position:center;
        }
        button[data-function="status"]{
          background-image:url('../images/fa-check.svg');
        }
        button[data-function="delete"]{
          background-image:url('../images/fa-times.svg');
        }
      }
    }
  }

}

footer{
  @include flex
  height: $footer-height;
  background-color:$footer-bg;
  #task-form{
    @include row;
    width: 100vw;
    #task-input{
      padding:9px;
      font-family: $main-font;
      font-size: $input-font-size;
      color: $input-color;
      border: solid $secondary-color;
      border-width: 2px 0px 2px 2px;
      flex:1;
    }
    #task-input:focus{
      outline:none;
    }
    #task-button{
      width: $header-height;
      height:48px;
      font-size: $input-font-size * 0.75;
      background-size: 75%;
      @include button-svg;
      background-image:url('../images/fa-plus.svg');
    }
  }
}
