body
  - var task_lists = ['Home', 'Work']
  
  h1 #{task_lists[0]}
  - var task_list = ['Wash dishes', 'Pay bill', 'Take garbage out']
        
    ul
      each task in task_list
        li #{task}
